.not-found{
    display:flex;
    justify-content: center;
    font-size: 12px;
    &__info{
        font-size: 2em;
        line-height: 2.5em;
        width: 30em;
        color: #324259;
        text-align: center;
    }
}