.header {
    background-image: radial-gradient( circle 592px at 48.2% 50%, #fffff9 0%, #c3cfe2 74.6% );
    background-color: #c3cfe2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    &__navigation-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1em;
    }
    &__link {
        font-size: 1.3em;
        margin: 1em;
        color: #0a0a0a;
        text-decoration: none;            
        text-transform: uppercase;
        &--active{
            text-decoration: underline;
        }
    }
    &__title-box{
        color: #324259;
        font-size: 2.5em;
        margin: 1.2em 0 1.5em 0;
        display: flex; 
        align-items: center;
    }
    &__title{
        margin: 0 1em;
    }
    i {
        font-size: 2em;
    }
}